---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <div class="text-center">
    <h1 class="display-4">Welcome to Our Site</h1>
    <p class="lead">This is the home page.</p>
  </div>
</BaseLayout>
