---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <div class="text-center">
    <h1 class="display-4">Login</h1>
    <div id="notification" class="alert" role="alert" style="display: none;"></div>
    <form class="mx-auto" style="max-width: 600px;" id="loginForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>

  <script src="/scripts/auth.js" type="module"></script>
</BaseLayout>
